@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>
@if(!Model.Any())
{
    <p>Sorry. No Customer available.</p>
}
else
{
    <table  border="1" >
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Membership Type</th>
        </tr>
        @foreach (var customer in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Discount%
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
        </tr>
        }
    </table>
    
}
